# django
SECRET_KEY=secret_key
DEBUG=True
SERVER_HOST=*

# db
POSTGRES_DB=postgres
POSTGRES_USER=username
POSTGRES_PASSWORD=password
DEFAULT_DB_HOST=postgres-main
DEFAULT_DB_PORT=5432

# celery
CACHE_URL=redis://redis:6379

# minio
MINIO_EXTERNAL_URL=
MINIO_ENDPOINT=http://minio:9000
MINIO_BUCKET_NAME=pets-search-bucket-minio
MINIO_ROOT_USER=miniousername
MINIO_ROOT_PASSWORD=miniopassword

# tg
TELEGRAM_BOT_TOKEN=123456789:AAAAAABBBBBCCCCC